.typeweb{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/*carticles start*/
.carticles{
    width: 60vw;
    margin: 0;
    height: 30px;
}
/*carticles end*/

/*divide start*/
.divide{
    width: 1px;
    height: 600px;
    background-color: rgba(78,78,78,.1);
    margin: 0;
    position: absolute;
    top: 100px;
    right: 33vw;
}
/*divide end*/


/*side start*/
.side{
    width: 30vw;
    height: 500px;
    margin: 0; 
    position: absolute;
    top: 80px;
    right: 1vw;
    
}

.side h5{
    font-size: 12pt;
    color: #383838;
}

.side ul{
    margin-top: 10px;
    display: inline-block;
   
}

.side li{
    margin-left: 3px;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: rgba(78,78,78,.1);
    border-radius: 50px;
    display: inline-block;
    font-size: 10pt;
}

.side li:hover{
    background-color: rgba(78,78,78,.2);
}
.side a{
    text-decoration: none;
    color: #383838;
}

.topics{
    margin: 0;
    width: 25vw;
}
/*side end*/

/* categories start */
.categories{
    margin-top: 20px; 
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.categories .type{
    display: flex;
    width: 45vw;
    justify-content: center;
    align-items: center;
    margin: auto;

}/*change the position of type here*/

.categories ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(78,78,78, 0.3);
}

.categories li{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px 10px;
    height: 80px;
}

.categories a{
    text-decoration: none;
    color: #4e4e4e;
}

.categories #articles-container{
    height:80vh;
    position: absolute;
    top: 60px;
    left: 0;
}

.categories .articles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories .articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.categories .articles div{
    width:50vw;
    height: 80px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(44, 16, 16, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories .part-of-articles{
    position: relative;
    bottom: 10px;
    margin: 0;
}
.categories .part-of-articles p{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
line-clamp: 1;
overflow: hidden;
}

.categories .type a{
    font-size: 12pt;  
    white-space: nowrap; 
    border-radius: 30px;
    padding: 10px 15px;
}

.categories .type a.active {
    background-color: #fbaf59;
    color: white; 

}

.categories h2{
    height: 50px;
    display: flex;
    align-items: center;
}

.categories h2 a{
    font-weight: 800;
    margin: 10px 0 0 0;
    font-size: 13pt;
    letter-spacing: 0;
}

.categories p a{
    font-weight: 400;
    font-size: 12pt;
    line-height: 30px;

}

.select-container{
    display: none;
}

.categories .articles-info{
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.categories .articles-info img{
    position: absolute;
    left: 2px;
}

.categories .articles-info p{
    font-size: 10pt;
    color: #383838;
    position: absolute;
    left: 25px;
    text-align: left;
   
}
/* categories end */





/* rwd start */
@media screen and (max-width:1366px){

    main{
        height: 1750px;
    }
    /*  沒有這個footer會蓋住main why?? */

    /* categories start */
    .categories ul{
        display: none;
    }
    .categories .type{
        justify-content: left;
        padding-left: 20px;
    }
    .categories .articles{
        margin-top: 0;
    }
    

    
    .select-container{
        
        display: flex;
        justify-content: center;
        position: relative;
        min-width: 250px;
        height: 50px;
    }

    .select-container .select-box{
        border: none;
        appearance: none;
        border-radius: 15px;
        padding: 0 30px 0 30px;
        border:2px solid #fbaf59;
        width: 85%;
        color: #4e4e4e;
        font-size: 15pt;
        
    }


    .select-container p{
        pointer-events: none;
        font-size: 12pt;
        width: 50px;
        height: 100%;
        position: absolute;
        right: 30px;
        transform: rotate(180deg);
        border-radius: 15px;
        color: #4e4e4e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    /* categories end */


    /* articles start */
    .articles div{
        height: 360px;
        
    }
    
    


    .articles div p{
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
    }

    /* articles end */
    
} 




/* rwd end */ 